@import "../../scss/variable";
.button {
  background-color: $primary;
  color: black;
  padding: 0.7rem 2.3rem;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;
  font-size: 1rem;
  font-weight: 600;
  &:hover {
    background-color: $primary-hover;
  }
}
.rounded {
  border-radius: 1rem;
}

.btn-lighter {
  font-weight: 300;
}
